---
layout: default
title: About Laurent Curau
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="/">Home</a>
    </nav>
</header>

<main class="content" role="main">
  <article class="post">
    <h1>Hello.</h1>

    <p>
      <a href="/about"><img src="/assets/images/profile-circle-cropped-sm.png" alt="Author's profile picture"></a><br />
    </p>

    <p>
      My name is Laurent, I'm an independent software engineer with a background in business, finance, and entrepreneurship. Passionate about software craftsmanship and product design.
    </p>

    <p>
      I've been solving business problems using my programming skills since 2014. I always make sure to understand the business model and root causes of the problems I am solving.
    </p>

    <p>
      Although I spend most of my time building software, I also enjoy collaborating with both technical and non-technical people to build great products, mentoring other developers, and learning from them.
    </p>

    <p>
      I like working on tools that make people's lives easier, and businesses more efficient.
    </p>

    <p>
      You can follow me on <a href="{{site.social.twitter}}">Twitter</a>, see my personal coding projects on <a href="{{site.social.github}}">Github</a> or send me a message on <a href="{{site.social.linkedin}}">LinkedIn</a>.
    </p>
  </article>
</main>
