---
layout: default
title: Laurent Curau
cover: false
---

<div class="main-header no-cover">
  <div class="inner">
    {% include about.html %}

    <hr />

    <h2>Blog posts</h2>

    {% for post in site.posts %}
      <article class="post">
        <header class="post-header">
          <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

          <span class="post-meta">
            <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
          </span>
        </header>

        <section class="post-excerpt">
          {% if post.intro %}
            <p>{{ post.intro }}</p>
          {% else %}
            {{ post.excerpt }}
          {%endif%}
        </section>

      </article>
    {% endfor %}
  </div>
</div>
